/* smatphones */

@media(max-width:480px) {
    .nav {
        padding: 0 3rem;
    }
    .nav-menu {
        display: none;
    }
    .nav-mobile {
        display: block;
        width: 100%;
        transition: 0.2s ease;
        transform: translateY(-200%);
        position: fixed;
        top: 7rem;
    }
    .active {
        transform: translateY(0);
    }
    .menu-mobile-container {
        display: block;
    }
    .burger-menu {
        cursor: pointer;
        transition: 0.4s ease-in;
        z-index: 111;
    }
    .burger-menu-fixed {
        position: fixed;
        top: 2rem;
    }
    .line-1,
    .line-2,
    .line-3 {
        width: 3.5rem;
        height: 0.3rem;
        background-color: white;
        margin: 0.6rem 1em;
        transition: 0.1s ease;
    }
    .changeline-1 {
        background-color: white;
        transition: 0.3s ease-in;
        transform: rotate(45deg) translate(-3px, -5px);
        position: absolute;
    }
    .changeline-2 {
        transition: 0.3s ease;
        opacity: 0;
    }
    .changeline-3 {
        background-color: white;
        transition: 0.3s ease;
        transform: rotate(-46deg) translate(12px, -10px);
        position: absolute;
    }
    .nav-mobile {
        background-color: white;
    }
    .nav-mobile li {
        font-size: 3rem;
        margin: 0;
        padding: 2rem;
    }
    .nav-mobile ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .nav-mobile a {
        color: rgb(236, 118, 71);
    }
    .children-mobile {
        display: none;
    }
    .children-mobile li {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .children-mobile-visible {
        display: block;
    }
    /* -------------------- banner ----------------------*/
    .title-banner {
        font-size: 1.5rem;
        text-align: center;
    }
    .slogan {
        color: white;
        font-size: 2rem;
        text-align: center;
    }
    .map-1024 {
        display: none;
    }
    .map-1200 {
        display: none;
    }
}


/* smatphones to tablets */

@media(min-width:481px) and (max-width:767px) {
    .logo p {
        font-size: 2.5rem;
        margin: 3.9rem 0 0rem 0;
        right: 9.3rem;
    }
    .logo img {
        height: 7rem;
    }
    .nav {
        padding: 0 3rem;
    }
    .nav-menu {
        display: none;
    }
    .nav-mobile {
        display: block;
        width: 100%;
        transition: 0.2s ease;
        transform: translateY(-200%);
        position: fixed;
        top: 7rem;
    }
    .active {
        transform: translateY(0);
    }
    .menu-mobile-container {
        display: block;
    }
    .burger-menu {
        cursor: pointer;
        transition: 0.4s ease-in;
        z-index: 111;
    }
    .burger-menu-fixed {
        position: fixed;
        top: 2rem;
    }
    .line-1,
    .line-2,
    .line-3 {
        width: 3.5rem;
        height: 0.3rem;
        background-color: white;
        margin: 0.6rem 1em;
        transition: 0.1s ease;
    }
    .changeline-1 {
        background-color: white;
        transition: 0.3s ease-in;
        transform: rotate(45deg) translate(0px, -2px);
        position: absolute;
    }
    .changeline-2 {
        transition: 0.3s ease;
        opacity: 0;
    }
    .changeline-3 {
        background-color: white;
        transition: 0.3s ease;
        transform: rotate(-46deg) translate(12px, -10px);
        position: absolute;
    }
    .nav-mobile {
        background-color: white;
    }
    .nav-mobile li {
        font-size: 3rem;
        margin: 0;
        padding: 2rem;
    }
    .nav-mobile ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .nav-mobile a {
        color: rgb(236, 118, 71);
    }
    .map-1024 {
        display: none;
    }
    .map-1200 {
        display: none;
    }
}


/* tablets */

@media(min-width:768px) and (max-width:959px) {
    .logo p {
        font-size: 2.5rem;
        margin: 3.6rem 0 0rem 0;
        right: 10.5rem;
    }
    .logo img {
        height: 7rem;
    }
    .nav {
        padding: 0 3rem;
    }
    .nav-menu {
        display: none;
    }
    .nav-mobile {
        display: block;
        width: 100%;
        transition: 0.2s ease;
        transform: translateY(-200%);
        position: fixed;
        top: 7rem;
    }
    .active {
        transform: translateY(0);
    }
    .menu-mobile-container {
        display: block;
    }
    .burger-menu {
        cursor: pointer;
        transition: 0.4s ease-in;
        z-index: 111;
    }
    .burger-menu-fixed {
        position: fixed;
        top: 2rem;
    }
    .line-1,
    .line-2,
    .line-3 {
        width: 3.5rem;
        height: 0.3rem;
        background-color: white;
        margin: 0.6rem 1em;
        transition: 0.1s ease;
    }
    .changeline-1 {
        background-color: white;
        transition: 0.3s ease-in;
        transform: rotate(45deg) translate(-3px, -2px);
        position: absolute;
    }
    .changeline-2 {
        transition: 0.3s ease;
        opacity: 0;
    }
    .changeline-3 {
        background-color: white;
        transition: 0.3s ease;
        transform: rotate(-46deg) translate(9px, -10px);
        position: absolute;
    }
    .nav-mobile {
        background-color: white;
    }
    .nav-mobile li {
        font-size: 3rem;
        margin: 0;
        padding: 2rem;
    }
    .nav-mobile ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .nav-mobile a {
        color: rgb(236, 118, 71);
    }
    .children-mobile {
        display: none;
    }
    .children-mobile li {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .children-mobile-visible {
        display: block;
    }
    .map-1024 {
        display: none;
    }
    .map-1200 {
        display: none;
    }
    /* about page --*/
    .title-banner-about {
        font-size: 5rem;
        margin-top: 5rem;
    }
    .slogan-about {
        color: white;
        font-size: 3rem;
        padding-bottom: 8rem;
    }
    .about-container i {
        margin-top: 4rem;
        font-size: 6rem;
    }
    .about-container h2 {
        text-align: center;
        font-size: 3.5rem;
        margin: 2rem 7rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(236, 118, 71);
    }
    .about-container__text {
        color: var(--text-color);
        margin: 0;
        padding: 0 3rem 2rem 3rem;
        font-size: 3rem;
    }
    .about-container__text span {
        color: black;
        font-weight: 700;
    }
    .about-container__img {
        margin: auto 5rem 5rem 5rem;
    }
    .valores {
        margin: auto 4rem;
    }
    .mision__title {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
    }
    .mision__title p {
        color: var(--text-color);
    }
    /* -- contact -----*/
    .title-banner-contact {
        font-size: 3rem;
    }
    .slogan-contact {
        font-size: 4rem;
        margin-top: 3rem;
        padding-bottom: 10rem;
    }
    .button-contact a {
        font-size: 4rem;
        padding: 4rem;
    }
    .contact-container__text h2 {
        font-size: 5rem;
    }
    .contact-container__text p {
        font-size: 6rem;
        font-weight: 800;
    }
    .contact-container p {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .contact-container span {
        font-size: 3rem;
    }
    .form {
        margin: 5rem;
    }
    label {
        font-size: 3rem;
    }
    .form input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 5rem;
        font-size: 3rem;
    }
    .form input[type="submit"] {
        margin: 3rem auto;
        font-size: 3rem;
    }
    .form textarea {
        font-size: 3rem;
    }
    .footer h5 {
        font-size: 3rem;
    }
    .footer p {
        font-size: 3rem;
    }
    .footer i {
        padding: 0 1rem;
    }
    .footer span {
        font-size: 3rem;
    }
    /* -- contruction --*/
    .title-banner-construction {
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    .construction-container__text h2 {
        color: black;
        font-size: 5rem;
        margin: 3rem;
    }
    .construction-container__text p {
        text-align: justify;
        padding: 0 5rem;
        font-size: 3rem;
    }
    .construction-container__text ul {
        margin: 4rem;
        font-size: 3rem;
    }
    .slider-container {
        padding: 8rem;
    }
    .dot-nav {
        width: 15px;
        height: 15px;
    }
    /* --- venta ----*/
    .title-banner-venta {
        font-size: 2rem;
        margin-bottom: 8rem;
    }
    .venta-container__text h2 {
        font-size: 4rem;
        margin: 3rem;
    }
    .venta-container__text p {
        padding: 0 3rem;
        font-size: 3rem;
    }
    .cards-container {
        margin: 5rem;
    }
    .card__img img {
        max-height: 35rem;
    }
    .card__title {
        font-size: 4rem;
    }
    .card__text {
        font-size: 3rem;
    }
    .card__button a {
        font-size: 3rem;
    }
    .renta-container__text h2 {
        font-size: 4rem;
        margin: 3rem;
    }
    .renta-container__text p {
        padding: 0 3rem;
        font-size: 3rem;
    }
    /* --- water ---*/
    .title-banner-water {
        font-size: 4rem;
        padding-top: 5rem;
    }
    .slogan-water {
        color: white;
        font-size: 3.5rem;
        margin-top: 1rem;
        padding-bottom: 6rem;
    }
    .water-container {
        text-align: center;
    }
    .water-container__text h2 {
        font-size: 4rem;
    }
    .water-container span {
        font-size: 2rem;
        color: var(--text-color);
    }
    .list ul {
        padding: 0;
        margin-bottom: 2rem;
    }
    .list li {
        font-size: 2.5rem;
        font-weight: 800;
        padding: 0.5rem;
    }
    .water-container p {
        font-size: 3.1rem;
        margin: auto 3rem;
        color: var(--text-color);
    }
}


/* desktop */

@media(min-width:960px) and (max-width:1199px) {
    .logo p {
        font-size: 2.8rem;
        margin: 4.3rem 0 0rem 0;
        right: 14rem;
    }
    .logo img {
        height: 8rem;
    }
    .nav-menu li {
        margin: 1.5rem;
        font-size: 3rem;
    }
    .title-banner {
        font-size: 4rem;
        margin: 0 5rem;
        text-align: center;
    }
    .slogan {
        font-size: 4rem;
        margin: 3rem 5rem 0 5rem;
        padding-bottom: 10rem;
        text-align: center;
    }
    .button-contact button {
        padding: 2rem;
    }
    .button-contact a {
        font-size: 2rem;
    }
    /* -- quienes somos --*/
    .title-quienes {
        padding: 3rem;
        font-size: 3rem;
    }
    .title-quienes i {
        margin-bottom: 3rem;
        font-size: 6rem;
    }
    .text-quienes p {
        font-size: 4rem;
        line-height: 5rem;
        margin: 0 4rem;
    }
    .button-about {
        text-align: center;
        padding: 3rem;
    }
    .button-about button {
        padding: 3rem;
    }
    .button-about a {
        font-size: 3rem;
    }
    /* servicios */
    .title-servicios {
        margin: 6rem;
        padding: 5rem;
        font-size: 3rem;
        border-bottom: 1px solid rgb(236, 118, 71);
    }
    .title-servicios i {
        margin-bottom: 4rem;
        font-size: 5rem;
    }
    .text-servicios p {
        font-size: 3rem;
        line-height: 5rem;
        margin: 0 5rem;
    }
    .serv {
        font-size: 4rem;
        margin: 8rem;
    }
    .serv i {
        margin-top: 6rem;
    }
    .serv span {
        font-size: 3rem;
    }
    .img-container img {
        height: 50rem;
        width: 100%;
    }
    .button-serv {
        margin: 2rem auto;
        text-align: center;
        padding: 2rem;
    }
    .button-serv button {
        border: none;
        background-color: rgb(236, 118, 71);
        padding: 2rem;
    }
    .button-serv a {
        color: white;
        font-size: 3rem;
    }
    /* imagen contacto */
    .contenido-contacto h3 {
        font-size: 4rem;
        margin-left: 3rem;
    }
    .imagen-contacto-text {
        margin: 3rem;
        font-size: 2.5rem;
        padding: 2rem;
        border-radius: 5%;
    }
    /* ------ años -----*/
    .años {
        margin: 4rem;
    }
    .años i {
        font-size: 5rem;
        padding: 1rem;
    }
    .años h4 {
        font-size: 3rem;
    }
    /* -------- footer ------- */
    .footer h5 {
        font-size: 3rem;
    }
    .footer p {
        font-size: 2.5rem;
    }
    .footer span {
        font-size: 2.5rem;
    }
    .map {
        display: none;
    }
    .map-1200 {
        display: none;
    }
    /* about page --*/
    .title-banner-about {
        font-size: 5rem;
        margin-top: 5rem;
    }
    .slogan-about {
        color: white;
        font-size: 3rem;
        padding-bottom: 8rem;
    }
    .about-container {
        display: flex;
    }
    .about-container__img img {
        padding-bottom: 7rem;
    }
    .about-container__text {
        font-size: 2.5rem;
    }
    .mision {
        display: flex;
    }
    .mision__title {
        margin: 2rem;
        font-size: 3rem;
    }
    /* -- contact ---*/
    .title-banner-contact {
        font-size: 3rem;
    }
    .slogan-contact {
        font-size: 4rem;
        margin-top: 3rem;
        padding-bottom: 10rem;
    }
    .button-contact a {
        font-size: 4rem;
        padding: 4rem;
    }
    .contact-container__text h2 {
        font-size: 5rem;
    }
    .contact-container__text p {
        font-size: 6rem;
        font-weight: 800;
    }
    .contact-container p {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .contact-container span {
        font-size: 3rem;
    }
    .form {
        margin: 8rem;
    }
    label {
        font-size: 3rem;
    }
    .form input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 5rem;
        font-size: 3rem;
    }
    .form input[type="submit"] {
        margin: 3rem auto;
        font-size: 3rem;
    }
    .form textarea {
        font-size: 3rem;
    }
    /* -- contruction --*/
    .title-banner-construction {
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    .construction-container__text h2 {
        color: black;
        font-size: 5.5rem;
        margin: 4rem;
    }
    .construction-container__text p {
        text-align: justify;
        padding: 0 5rem;
        font-size: 3.5rem;
    }
    .construction-container__text ul {
        margin: 5rem;
        font-size: 4rem;
    }
    .slider-container {
        padding: 10rem;
    }
    .dot-nav {
        width: 15px;
        height: 15px;
    }
    .slide img {
        height: 40rem;
        width: 100%;
    }
    /** --- venta ---**/
    .cards-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 3rem;
        overflow: hidden;
    }
    .card {
        width: 90%;
    }
    .title-banner-venta {
        font-size: 3rem;
        margin-bottom: 8rem;
    }
    .venta-container__text h2 {
        font-size: 6rem;
        margin: 3rem;
    }
    .venta-container__text p {
        padding: 0 3rem;
        font-size: 4rem;
    }
    .card__img img {
        max-height: 30rem;
    }
    .card__title {
        font-size: 4rem;
    }
    .card__text {
        font-size: 3rem;
    }
    .card__button a {
        font-size: 3rem;
    }
    .renta-container__text h2 {
        font-size: 6rem;
        margin: 3rem;
    }
    .renta-container__text p {
        padding: 0 3rem;
        font-size: 4rem;
    }
    /* --- water ---*/
    .title-banner-water {
        font-size: 4rem;
        padding-top: 5rem;
    }
    .slogan-water {
        color: white;
        font-size: 3.5rem;
        margin-top: 1rem;
        padding-bottom: 6rem;
    }
    .water-container {
        text-align: center;
    }
    .water-container__text h2 {
        font-size: 4.2rem;
    }
    .water-container span {
        font-size: 2.5rem;
        color: var(--text-color);
    }
    .list ul {
        padding: 0;
        margin-bottom: 2rem;
    }
    .list li {
        font-size: 3rem;
        font-weight: 800;
        padding: 0.5rem;
    }
    .water-container p {
        font-size: 3.5rem;
        margin: auto 3rem;
        color: var(--text-color);
    }
}


/* large display */

@media(min-width:1200px) {
    .logo p {
        font-size: 3rem;
        margin: 4.6rem 0 0rem 0;
        right: 16rem;
    }
    .logo img {
        height: 8.5rem;
    }
    .img-banner {
        background-attachment: fixed;
        height: 100vh;
    }
    .button-contact button {
        padding: 2rem;
    }
    .button-contact a {
        font-size: 3rem;
    }
    /* -- quienes somos --*/
    .title-quienes {
        padding: 3rem;
        font-size: 3rem;
    }
    .title-quienes i {
        margin-bottom: 3rem;
        font-size: 8rem;
    }
    .text-quienes p {
        font-size: 3rem;
        line-height: 5rem;
        margin: 0 4rem;
    }
    .button-about {
        text-align: center;
        padding: 2rem;
    }
    .button-about button {
        padding: 2rem;
    }
    .button-about a {
        font-size: 3rem;
    }
    /* servicios */
    .title-servicios {
        margin: 6rem;
        padding: 5rem;
        font-size: 4rem;
        border-bottom: 1px solid rgb(236, 118, 71);
    }
    .title-servicios i {
        margin-bottom: 4rem;
        font-size: 7rem;
    }
    .text-servicios p {
        font-size: 3rem;
        line-height: 5rem;
        margin: 0 5rem;
    }
    .nuestros-servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    .serv {
        font-size: 1.8rem;
    }
    .serv i {
        margin-top: 6rem;
    }
    .serv span {
        font-size: 2.5rem;
    }
    .img-container img {
        height: 30rem;
        width: 100%;
    }
    .button-serv {
        margin: 2rem auto;
        text-align: center;
        padding: 2rem;
    }
    .button-serv button {
        border: none;
        background-color: rgb(236, 118, 71);
        padding: 2rem;
    }
    .button-serv a {
        color: white;
        font-size: 3rem;
    }
    /* imagen contacto */
    .contenido-contacto h3 {
        font-size: 4rem;
        margin-left: 3rem;
    }
    .imagen-contacto-text {
        margin: 3rem 20rem;
        font-size: 2.5rem;
        padding: 2rem;
        border-radius: 5%;
    }
    /* ------ años -----*/
    .años {
        margin: 4rem;
    }
    .años i {
        font-size: 5rem;
        padding: 1rem;
    }
    .años h4 {
        font-size: 3rem;
    }
    /* -------- footer ------- */
    .footer h5 {
        font-size: 2rem;
    }
    .footer p {
        font-size: 1.5rem;
    }
    .footer span {
        font-size: 1.5rem;
    }
    .map {
        display: none;
    }
    /* about page --*/
    .img-banner-about {
        background-attachment: fixed;
        height: 100vh;
    }
    .title-banner-about {
        font-size: 5rem;
        margin-top: 5rem;
    }
    .slogan-about {
        color: white;
        font-size: 3rem;
        padding-bottom: 8rem;
    }
    .about-container {
        display: flex;
    }
    .about-container__img {
        margin: 3rem 3rem 3rem 3rem;
    }
    .about-container__img img {
        padding-bottom: 7rem;
    }
    .about-container__text {
        font-size: 2.5rem;
    }
    .mision {
        display: flex;
    }
    .mision__title {
        margin: 2rem;
        font-size: 3rem;
    }
    /* -- contact ---*/
    .title-banner-contact {
        font-size: 3rem;
    }
    .slogan-contact {
        font-size: 4rem;
        margin-top: 3rem;
        padding-bottom: 10rem;
    }
    .button-contact a {
        font-size: 4rem;
        padding: 4rem;
    }
    .contact-container__text h2 {
        font-size: 5rem;
    }
    .contact-container__text p {
        font-size: 6rem;
        font-weight: 800;
    }
    .contact-container p {
        font-size: 3.5rem;
        font-weight: 800;
    }
    .contact-container span {
        font-size: 3rem;
    }
    .datos {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .dat:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .form {
        margin: 8rem;
    }
    label {
        font-size: 3rem;
    }
    .form input[type="text"],
    input[type="tel"],
    input[type="email"] {
        height: 5rem;
        font-size: 3rem;
    }
    .form input[type="submit"] {
        margin: 3rem auto;
        font-size: 3rem;
    }
    .form textarea {
        font-size: 3rem;
    }
    /* -- contruction --*/
    .img-banner-construction {
        background-attachment: fixed;
        height: 100vh;
    }
    .title-banner-construction {
        font-size: 4rem;
        margin-bottom: 4rem;
    }
    .construction-container__text h2 {
        color: black;
        font-size: 5rem;
        margin: 3rem;
    }
    .construction-container__text p {
        text-align: justify;
        padding: 0 5rem;
        font-size: 3rem;
    }
    .construction-container__text ul {
        margin: 6rem;
        font-size: 3rem;
    }
    .slider-container {
        padding: 10rem;
    }
    .dot-nav {
        width: 15px;
        height: 15px;
    }
    .slide img {
        height: 50rem;
        width: 100%;
    }
    /** --- venta ---**/
    .img-banner-venta {
        background-attachment: fixed;
        height: 100vh;
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        overflow: hidden;
    }
    .card {
        width: 90%;
    }
    .title-banner-venta {
        font-size: 3rem;
        margin-bottom: 8rem;
    }
    .venta-container__text h2 {
        font-size: 4rem;
        margin: 3rem;
    }
    .venta-container__text p {
        padding: 0 3rem;
        font-size: 2.5rem;
    }
    .card__img img {
        max-height: 30rem;
    }
    .card__title {
        font-size: 3rem;
    }
    .card__text {
        font-size: 1.8rem;
    }
    .card__button a {
        font-size: 2rem;
    }
    .renta-container__text h2 {
        font-size: 4rem;
        margin: 3rem;
    }
    .renta-container__text p {
        padding: 0 3rem;
        font-size: 2.5rem;
    }
    /* ---- water---*/
    .img-banner-water {
        background-attachment: fixed;
        height: 100vh;
    }
    .title-banner-water {
        font-size: 4rem;
        padding-top: 5rem;
    }
    .slogan-water {
        color: white;
        font-size: 3.5rem;
        margin-top: 1rem;
        padding-bottom: 6rem;
    }
    .water-container {
        text-align: center;
    }
    .water-container__text h2 {
        font-size: 4.2rem;
    }
    .water-container span {
        font-size: 2.5rem;
        color: var(--text-color);
    }
    .list ul {
        padding: 0;
        margin-bottom: 2rem;
    }
    .list li {
        font-size: 3rem;
        font-weight: 800;
        padding: 0.5rem;
    }
    .water-container p {
        font-size: 3.5rem;
        margin: auto 3rem;
        color: var(--text-color);
    }
}