html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**  Reset para REMS -62.5% = 10px de 16px  **/
    scroll-behavior: smooth;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

:root {
    --orange-color: rgb(236, 118, 71);
    --text-color: rgb(97, 96, 96);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


/* ------------------ boton whatsapp -------------------------*/

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}


/** --------------------------animaciones----------------------*/

.animacion-arriba {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-arriba-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-abajo {
    opacity: 0;
    transition: all 0.7s;
}

.animacion-abajo-servicios {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-derecha {
    opacity: 0;
    transition: all 0.5s;
}

.animacion-izquierda {
    opacity: 0;
    transition: all 0.7s;
}

.mostrar-arriba {
    animation: mostrar-arriba 1s;
}

@keyframes mostrar-arriba {
    0% {
        transform: translateY(7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-abajo {
    animation: mostrar-abajo 1s;
}

@keyframes mostrar-abajo {
    0% {
        transform: translateY(-7rem);
    }
    100% {
        transform: translateY(0);
    }
}

.mostrar-derecha {
    animation: mostrar-derecha 0.5s;
}

@keyframes mostrar-derecha {
    0% {
        transform: translateX(9rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.mostrar-izquierda {
    animation: mostrar-izquierda 1s;
}

@keyframes mostrar-izquierda {
    0% {
        transform: translateX(-9rem);
    }
    100% {
        transform: translateX(0rem);
    }
}


/* ------------------ header -------------------*/

.logo p {
    font-family: 'Black Ops One', cursive;
    font-size: 2.3rem;
    margin: 3.3rem 0 0rem 0;
    position: absolute;
    right: 8rem;
    letter-spacing: -0.1rem;
}

.logo img {
    height: 6rem;
}

.children {
    background-color: rgba(247, 99, 41, 0.384);
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 0;
    transition: 0.2s;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.children li {
    margin: 1rem 1rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.2s;
}

.children li:hover {
    background-color: rgba(247, 215, 203, 0.842);
}

.menu-mobile-container {
    display: none;
}

.nav-mobile {
    display: none;
}

.nav {
    align-items: center;
    background-color: rgb(236, 118, 71);
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    border-bottom: 3px solid white;
    position: fixed;
    width: 100%;
}

.nav-menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    color: white;
    transition: 0.5s ease;
}

.nav-menu a:hover {
    color: rgb(12, 11, 11);
}

.nav-menu li {
    margin: 2rem;
    font-size: 2.5rem;
}

.logo {
    padding-right: 5%;
    color: white;
    font-size: 3rem;
}

.logo h1 {
    margin: 0;
}

.logo a {
    color: white;
}


/* --------------- banner --------------------*/

.img-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #353535b9;
    height: 100vh;
}

.title-banner {
    font-size: 3rem;
    color: white;
}

.slogan {
    color: white;
    font-size: 3rem;
    margin-top: 3rem;
    padding-bottom: 10rem;
}

.button-contact button {
    border: none;
    background-color: rgba(236, 118, 71, 0.61);
    padding: 1rem;
    transition: 0.2s ease;
}

.button-contact button:hover {
    background-color: rgba(216, 75, 19, 0.829);
    transform: scale(1.1);
}

.button-contact a {
    color: white;
    font-size: 2rem;
}


/* --------------- ¿quienes somos? --------------------*/

.quienes {
    background-color: rgb(236, 118, 71);
}

.title-quienes {
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.title-quienes i {
    color: white;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.text-quienes p {
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 2rem;
}

.button-about {
    text-align: center;
    padding: 2rem;
}

.button-about button {
    border: none;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 2rem;
    transition: 0.2s ease;
}

.button-about button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.button-about a {
    color: black;
    font-size: 2rem;
}


/* --------------- servicios --------------------*/

.title-servicios {
    margin: 4rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 1px solid rgb(236, 118, 71);
}

.title-servicios i {
    margin-bottom: 2rem;
    font-size: 4rem;
}

.text-servicios p {
    color: rgb(97, 96, 96);
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 2rem;
}

.serv {
    font-size: 2rem;
    margin: 4rem;
    background-color: white;
}

.serv i {
    margin-top: 3rem;
}

.serv h2 {
    margin-bottom: 2rem;
}

.serv h2::after {
    content: '';
    display: block;
    width: 8rem;
    height: .5rem;
    background-color: rgb(236, 118, 71);
    margin-top: 1rem;
}

.text-card {
    height: 15rem;
    overflow: hidden;
}

.serv span {
    color: rgb(97, 96, 96);
    font-size: 2rem;
}

.img-container {
    max-height: 50%;
}

.img-container img {
    height: 25rem;
    width: 100%;
}

.button-serv {
    margin: 2rem auto;
    text-align: center;
    padding: 2rem;
}

.button-serv button {
    border: none;
    background-color: rgb(236, 118, 71);
    padding: 2rem;
    transition: all 0.2s ease;
}

.button-serv button:hover {
    transform: scale(1.1);
}

.button-serv a {
    color: white;
    font-size: 2rem;
}


/* ----------- imagen contacto -----------*/

.imagen-contacto {
    background-image: url(../img/maquina1.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-color: #353535dc;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 0 0 95%;
    color: white;
}

.contenido-contacto h3 {
    font-size: 2.5rem;
    margin-left: 2rem;
}

.contenido-contacto h3::after {
    content: '';
    display: block;
    width: 8rem;
    height: .5rem;
    background-color: rgb(236, 118, 71);
    margin-top: 1rem;
}

.imagen-contacto-text {
    background-color: rgba(236, 118, 71, 0.541);
    margin: 3rem;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 10%;
}

.imagen-contacto-text p {
    margin: 0;
}

.btn-img {
    text-align: center;
    margin-bottom: 1rem;
}


/* ------ años -----*/

.años {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.años i {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
}

.años h4 {
    font-size: 2rem;
    text-align: center;
}


/* -------- footer ------- */

.footer {
    background-color: rgb(68, 67, 68);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h5 {
    font-size: 1.8rem;
}

.footer p {
    font-size: 1.8rem;
}

.footer i {
    padding: 0 1rem;
}

.footer span {
    font-size: 1.5rem;
    margin: 1rem 5rem;
    text-align: center;
}


/* ------------- nosotros -----------------------*/

.img-banner-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #353535b9;
    height: 50vh;
}

.title-banner-about {
    font-size: 2.6rem;
    color: white;
    margin-top: 5rem;
}

.slogan-about {
    color: white;
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.about-container__title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-container i {
    margin-top: 2rem;
    font-size: 4rem;
}

.about-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 7rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(236, 118, 71);
}

.about-container__text {
    color: var(--text-color);
    margin: 0;
    padding: 0 3rem 2rem 3rem;
    font-size: 2rem;
}

.about-container__text span {
    color: black;
    font-weight: 700;
}

.about-container__img {
    margin: auto 3rem 3rem 3rem;
}

.valores {
    margin: auto 3rem;
}

.mision__title {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.mision__title h3::after {
    content: '';
    display: block;
    width: 5rem;
    height: .5rem;
    background-color: rgb(236, 118, 71);
    margin-top: 1rem;
}

.mision__title p {
    color: var(--text-color);
}


/* ----------------------- contact page -------------------*/

.img-banner-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/contact.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-color: #353535b9;
    height: 100vh;
}

.title-banner-contact {
    font-size: 2.5rem;
    color: white;
}

.slogan-contact {
    color: white;
    font-size: 3rem;
    margin-top: 3rem;
    padding-bottom: 10rem;
    text-align: center;
}

.contact-container {
    text-align: center;
}

.contact-container__text {
    color: var(--orange-color);
}

.contact-container__text h2 {
    font-size: 4rem;
    font-weight: 800;
    margin: 2rem;
}

.contact-container__text p {
    font-size: 3rem;
    font-weight: 800;
}

.contact-container p {
    font-size: 3rem;
    font-weight: 800;
}

.contact-container span {
    font-size: 2rem;
    color: var(--text-color);
}

.datos i {
    font-size: 3rem;
    display: block;
}

.datos span {
    display: block;
    margin: 2rem;
}

.form {
    margin: 3rem;
}

label {
    color: var(--orange-color);
    font-size: 2rem;
    display: block;
}

.form input[type="text"],
input[type="tel"],
input[type="email"] {
    display: block;
    margin: 1rem auto;
    width: 100%;
    background: transparent;
    border-radius: 1rem;
    border: 1px solid rgb(75, 75, 75);
    outline: none;
    height: 3rem;
    font-size: 13px;
}

.form input[type="submit"] {
    margin: 2rem auto;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    background-color: var(--orange-color);
    border: none;
    width: 80%;
}

.input {
    display: flex;
    align-items: center;
}

.form textarea {
    outline: none;
    width: 100%;
}